<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">ADD FOOD</h1>
    </div>
</div>

<form name="foodForm" ng-submit="submit();">
<div class="content-padded">
    <input data-ng-model="newFood.name" ng-minlength="1" ng-maxlength="30" name="name" type="text" placeholder="Food" class="topcoat-text-input--large full center block" required>
    <span ng-show="foodForm.name.$invalid && !foodForm.name.$pristine" class="help-block">Name is required.</span>
</div>
<div class="content-padded">
    <select name="cooking_time" ng-model="newFood.cooking_time" ng-options="value for value in intervals" required>
        <option value="">Minutes</option>
    </select>
</div>
<div class="content-padded">
    <button ng-disabled="foodForm.$invalid" data-ng-click="addNewFood()" class="topcoat-button--cta full center block" >ADD FOOD</button>
</div>

</form>


<div class="topcoat-list">
    <h3 class="topcoat-list__header">FOODS</h3>
    <ul class="topcoat-list__container">
        <li class="topcoat-list__item" style="height: 50px; line-height: 50px;" data-ng-repeat="food in foods | orderBy:'-cooking_time'">
            {{ food.name }} - {{ food.cooking_time }} minutes
            <button data-ng-click="removeFood(food)" class="topcoat-icon-button right-align">
                <span class="topcoat-icon delete-icon block"></span>
            </button>
        </li>
    </ul>
</div>

