* {
    -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
    -webkit-touch-callout: none; /* Disable touch callouts */	margin: 0;
    padding: 0;
    color: white;

}

input, textarea, [contenteditable] * {
    -webkit-user-select: auto;  /* Allow selection for input elements and those with contenteditable attribute */
}

.delete-icon {
    background: url("../img/topcoat/delete.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}


.content-padded {
    padding: 10px !important;
}
