* {
    -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
    -webkit-touch-callout: none; /* Disable touch callouts */	margin: 0;
    padding: 0;
    color: black;

}

input, textarea, [contenteditable] * {
    -webkit-user-select: auto;  /* Allow selection for input elements and those with contenteditable attribute */
}

.delete-icon {
    background: url("../img/topcoat/delete.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}


.content-padded {
    padding: 10px !important;
}

.right-align {
    float: right;
    overflow: hidden;
}



.topcoat-button,
.topcoat-button--quiet,
.topcoat-button--large,
.topcoat-button--large--quiet,
.topcoat-button--cta,
.topcoat-button--large--cta,
.topcoat-button-bar__button,
.topcoat-button-bar__button--large {
    background-color: #ff9900 !important;
    border: 1px solid #a5a8a8 !important;
}

.grenz {
    background-color: #009921 !important;
    border: 1px solid #a5a8a8 !important;
}

.nasty-icons {
    font-family: "nasty-icons";
    src: url("../font/nasty-icons.ttf");
}