<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">PREPARE COOK</h1>
    </div>
</div>

<form name="foodForm">
<div class="content-padded">
    <select name="prepare_cook" ng-model="prepareCook.foodItem" ng-options="food as food.name + ' ' + food.cooking_time + ' minutes' for food in foods" required>
        <option value="">Pick food!</option>
    </select>
    <p ng-show="formError.existsAlready">Now, it doesn't really make sense to add duplicate items to the list :P</p>
</div>

<div class="content-padded">
    <button ng-disabled="foodForm.$invalid" data-ng-click="addFoodToCook()" class="topcoat-button--cta full center block" >ADD FOOD</button>
</div>
</form>



<div class="topcoat-list">
    <h3 class="topcoat-list__header">PREPARE TO COOK LIST</h3>
    <ul class="topcoat-list__container">
        <li class="topcoat-list__item" style="height: 50px; line-height: 50px;" data-ng-repeat="food in cook | orderBy:'-cooking_time'">
            {{ food.name }} - {{ food.cooking_time }} minutes
            <button data-ng-click="removeFood(food)" class="topcoat-icon-button right-align">
                <span class="topcoat-icon delete-icon block"></span>
            </button>
        </li>
    </ul>
</div>



<div class="content-padded">
    <button ng-disabled="cook.length == 0" data-ng-click="goGoGo()" class="topcoat-button--cta full center block grenz" >START COOOKING!</button>
</div>

